In [1]:
# %load main.py
   
import pandas as pd
import numpy as np
import lib.load as load
import data_cleaning as dc
import lib.df_info as i
import lib.func as f

df = load.load_data()
df_transactions = df[0]
#df_new_cust_list = df[1]
df_demographic = df[2]
df_address = df[3]

try:
    df_demographic = dc.clean_demographic(df_demographic).reset_index(drop=True)
    df_address = dc.clean_address(df_address).reset_index(drop=True)
    df_transactions = dc.clean_transactions(df_transactions).reset_index(drop=True)
except Exception:
    print('ERROR.')

/Users/oksana_kaledina/Documents/5_PORTFOLIO/KPMG/source/data.xlsx

/Users/oksana_kaledina/Documents/5_PORTFOLIO/KPMG/data_cleaning.py:20: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  df['age'] = df['DOB'].apply(lambda x : (pd.datetime.now().year - x.year))

In [ ]:
dff = f.merge_df_inner(df_demographic,df_transactions,df_address)

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

sns.heatmap(dff.corr(), annot = True)

plt.show

In [14]:

import os

path = os.getcwd() + '/file/demographic.csv'   

if not os.path.isfile(path):
    df_demographic.to_csv(path)
else:
    df_demographic.to_csv(path, header = False)
    
pd.read_csv(path)

,0,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,No,Yes,11.0,70.0
0,1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,No,Yes,16.0,43.0
1,2,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,No,Yes,15.0,69.0
2,3,4,Talbot,NaN,Male,33,1961-10-03,NaN,IT,Mass Customer,No,No,7.0,62.0
3,4,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,NaN,Affluent Customer,No,Yes,8.0,46.0
4,5,6,Curr,Duckhouse,Male,35,1966-09-16,NaN,Retail,High Net Worth,No,Yes,13.0,57.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3992,3993,3996,Rosalia,Halgarth,Female,8,1975-08-09,VP Product Management,Health,Mass Customer,No,No,19.0,48.0
3993,3994,3997,Blanch,Nisuis,Female,87,2001-07-13,Statistician II,Manufacturing,High Net Worth,No,Yes,1.0,22.0
3994,3995,3998,Sarene,Woolley,U,60,NaN,Assistant Manager,IT,High Net Worth,No,No,NaN,NaN
3995,3996,3999,Patrizius,NaN,Male,11,1973-10-24,NaN,Manufacturing,Affluent Customer,No,Yes,10.0,50.0
3996,3997,4000,Kippy,Oldland,Male,76,1991-11-05,Software Engineer IV,NaN,Affluent Customer,No,No,11.0,32.0